body{
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
color: #fff;




}


button{
    color: yellow;
    background: #000;
    padding: 20px 40px;
    border-radius: 30px;

}

b{
    font-family: 'Courier New', Courier, monospace;

}